body {
  margin: 0;
  padding: 0;
  background: #02324A;
  color: #EAF5FB;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
  background-color: #02324A;
}
